html { filter: invert(1) hue-rotate(180deg); }
html img { filter: invert(1) hue-rotate(180deg); }
#homePageBackgroundImageDivStyled { filter: invert(1) hue-rotate(180deg) blur(3px) }
.greeting { filter: invert(1) hue-rotate(180deg); }
.typing-carousel { filter: invert(1) hue-rotate(180deg); }
.arrow.bounce.fa.fa-chevron-down { filter: invert(1) hue-rotate(180deg); } */
.rounded-circle.mx-auto.d-block.img-fluid { filter: invert(1) hue-rotate(180deg); }
pre { filter: invert(1) hue-rotate(180deg); }
.giscus { filter: invert(1) hue-rotate(180deg); }

.initial-navbar li a {
	transition: all 0.3s ease-out;
	filter: invert(1) hue-rotate(180deg);
}
.initial-navbar .navbar-brand { filter: invert(1) hue-rotate(180deg); }

.row.pl-3.pr-3 { flex-wrap: nowrap; }
@media ( max-width: 425px ) {
	.row.pl-3.pr-3 {
		display: grid;
		justify-content: center;
		gap: 1rem;
	}
	.btn-improve-page { text-align: center; }
}
@media ( min-width: 577px ) { .row.next-prev-navigator { flex-wrap: nowrap; } }

.btn-improve-page {
	display: grid;
	align-content: center;
}

.text-justify { -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto; }

.taxonomy-terms ul { padding-inline-start: 0; }
.taxonomy-terms ul li { margin-right: 5px; }
